body {
    background: #181712;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    margin:0;
  }
  
.web-title {
    color: #ff5233;
    text-align: left;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #1f1b1a;
    outline-style: solid;
    outline-width: 1px;
    outline-color: rgb(56, 56, 56);
    width: 250px;
}

.title-text {
  padding-left: 5px;
}

.Home-text{
  color: white;
}

.ItemBasket-text {
  color: white;
}

h1 {
  margin:0;
  margin-bottom: 1px;
}